/*signup.html*/

h1{
    justify-content: center;
    margin: 100px;
    font-family: "Yu Gothic UI Semibold";
    font-size: 50px;
}
form{
    text-align: center;
    font-family: "Yu Gothic UI Semibold";
    font-size: 25px;

}
body {
    background-color: rgba(192,192,192,0.4);
}


.responsive {
    width: 100%;
    height: auto;
}


.nav-link {
    background-color: lightcyan;
    font-family: 'Lobster', cursive;

}


.row {
    background-color: transparent;
    /*margin-left: 0px;*/
    /*margin-right: 0px;*/
    font-family: 'Lobster', cursive;
}

@media (min-width: 40rem)  {
    #row {
        width: 40px;
        height: 60px;
        font-family: 'Lobster', cursive;
    }
}


.container_footer {
    background-color: lightblue;
}

.container {
    image-orientation: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    size: 50px; height: 50px;
}
.up-arrow {
    padding: 200px;
}


