/*home.html*/
body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
    min-height: 100%;
}

h3, h4 {
    margin: 10px 0 30px 0;
    letter-spacing: 10px;
    font-size: 28px;
    font: bold;
    color: #111;
}
.container .col-sm-4-post {
    padding: 80px 120px;
}

.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
}
.person:hover {
    border-color: #f1f1f1;
}
.carousel-inner .item img {
   height: 600px;
}
.carousel-caption h3 {
    color: #fff !important;
}
/*@media (max-width: 300px) {  !*300px Voreinstellung*!*/
    /*.carousel-caption {*/
        /*display: none; !* Hide the carousel text when the screen is less than 600 pixels wide *!*/
/*}*/
.bg-1 {
    background: #bdbdbd;
    color: #bdbdbd;
}

.item h3 p {
    font-size: 28px;
    font-weight: normal;

}

.bg-1 h3 {color: #fff;}
.bg-1 p {font-style: italic}
.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail p {
    margin-top: 15px;
    color: #555;
}

.title {
font-weight: bold;
    font-size: 20px;
}

.time {
    font-size: xx-small;
    font-weight: normal;
}

.user{
    font-weight: bold;
    font-size: 12px;
}

.text {
    font-size: 14px;
}

.comment{
    font-weight: normal;
    font-size: 12px;
    color: darkblue;

}

.btn-link{
    display: inline-block;
    border-radius: 14px 18px;
    border: 0;
    font-weight: normal;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
    color: #d5d5d5;
    font-family: Montserrat, sans-serif;
}

.btn3{
    color:lightseagreen;
}

.btn {
    padding: 15px 20px;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;

}

.btn2 {
    display: inline-block;
    border-radius: 10px;
    border: 0;
    font-weight: normal;
    font-size: 10px;
    letter-spacing: 0.0825em;
    text-transform: uppercase;
    background: lightseagreen;
    color: white;
    margin: 10px;
    padding: 10px;
}
.btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;

}
.beitrag{
   background-color: lightseagreen;
    border-radius: 7px;
}
.navbar-nav .btn {

    display: block;
    padding: 14px 18px;
}


.modal-header, h4, .close {
    background-color: #333;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
}
.modal-header, .modal-body {
    padding: 40px 50px;
}
.nav-tabs li a {
    color: #777;
}

.col-sm-6-post .image{
size: 100px;
}

.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}
.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
}
.navbar-nav li a:hover {
    color: #fff !important;
}
.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}

.open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
}
.dropdown-menu li a {
    color: #000 !important;
}
.dropdown-menu li a:hover {
    background-color: red !important;
}


.container2 {
    background-color: #bdbdbd;
}

.form-control {
    border-radius: 0;
}
textarea {
    resize: none;
}


/* Bubble für Kommentare
------------------------------------------ */

.posts {
    position: relative;
    padding: 15px;
    margin: 1em 0 3em;
    color: #000;
    background: #efefef;
    border-radius: 10px;
    background: linear-gradient(top, #f1f1f1, lightcyan);
}

