html, body{
    background-color: #e1faee;
}

.btn-dark{
    background-color: lightseagreen;
    border-radius: 14px;

}
button{
    border-radius: 14px;
    background-color: lightcoral;
}
.value{
    background-color: lightcoral;
    border-radius: 14px;
}