<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <th:block th:replace="fragments/header :: head"></th:block>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleCreatePost.css}"/>
</head>
<body>
<th:block th:replace="fragments/header2 :: navbar"></th:block>
   <br>
   <br>
   <br>
   <br>

<div class="container">
    <div class="column">
        <div class="row">
            <h1 class="col-sm-6 col-sm-offset-3">Neues Kommentar erstellen</h1>
        </div>
        <br>

        <div class="row">
            <form class="col-sm-8 col-sm-offset-2" th:action="@{/createComment/{postId}(postId=${postId})}" th:object="${comment}" method="post">
                <div>Kommentar:</div>
                <textarea type="text" th:field="*{text}"></textarea> <br/>
                <!--<div th:if="${#fields.hasErrors('emptyComment')}" th:errors="*{text}" style="color: red"></div>-->
                <button class="btn btn-dark" type="submit">Erstellen</button>
            </form>
        </div>
    </div>
</div>






<th:block th:replace="fragments/footer :: madeBy"></th:block>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>
