<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: head"></th:block>
    <meta charset="UTF-8">
    <title>Kommentar löschen</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleCreatePost.css}"/>
</head>
<body>
<th:block th:replace="fragments/header2 :: navbar"></th:block>
<br>
<br>
<br>
<br>

<div class="container">
    <div class="column">
        <div class="row">
            <h1 class="col-sm-6 col-sm-offset-3">Willst du diesen Beitrag löschen?</h1>
        </div>
        <br>

        <div class="row">
            <form class="col-sm-8 col-sm-offset-2" th:action="@{/deletePost/{postId}(postId=${postToDelete.id})}" th:object="${postToDelete}" method="post">
                <div th:text="${postToDelete.title}"></div>
                <div th:text="${#dates.format(postToDelete.creationDateTime, 'dd-MMM-yyyy HH:mm') + ' Uhr'}"></div>
                <div th:text="${postToDelete.text}"></div>
                <br>
                <div th:if="${!postToDelete.comment.isEmpty()}">
                    <div>Kommentare:</div>
                </div>
                <th:block th:each="comment: ${postToDelete.comment}">

                    <div th:text="${comment.user.username + #dates.format(postToDelete.creationDateTime, 'dd-MMM-yyyy HH:mm')}"></div>
                    <div th:text="${comment.text}"></div>
                </th:block>
                <input th:field="*{id}" type="hidden">
                <button type="submit">Ja!</button>
            </form>

            <form class="col-sm-8 col-sm-offset-2" action="/posts">
                <input class="value" type="submit" value="No" />
            </form>
        </div>
    </div>
</div>




<!--<form th:object="${postToDelete}" >-->


<th:block th:replace="fragments/footer :: madeBy"></th:block>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>