<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Unnützes Wissen</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="@{/css/styles3.css}">
</head>


<!--NAVBAR-->
<body th:inline="text" id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
<!--<div th:replace="fragments/header :: navbar"></div>-->
<!--<nav class="navbar navbar-default navbar-fixed-top">-->
    <!--<div class="container-fluid">-->
        <!--<div class="navbar-header">-->
            <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <!--<a class="navbar-brand" href="home.html" > <img src="img/blog_klein.png" height="100" width="180"></a>-->
        <!--</div>-->
        <!--<div class="collapse navbar-collapse" id="myNavbar">-->
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li><a><p>Hallo <span th:text="${currentUser != null ? currentUser.username : 'Unbekannter'}"></span>!</a></li>-->
                <!--<li th:if="${currentUser != null}">-->
                    <!--<form th:action="@{/logout}" method="post">-->
                        <!--<button type="submit" class="btn btn-link">abmelden</button>-->
                    <!--</form>-->
                <!--</li>-->

                <!--<li th:if="${currentUser != null and currentUser.admin}">-->
                    <!--<form th:action="@{/showUsers}" method="get">-->
                        <!--<button type="submit" class="btn btn-link">Benutzer anzeigen</button>-->
                    <!--</form>-->
                <!--</li>-->

                <!--<li><a href="/home2">HOME</a></li>-->
                <!--<li><a href="/posts">Beiträge</a></li>-->
                <!--<li th:if="${currentUser == null}">-->
                    <!--<a href="/login">Einloggen</a></li>-->
                <!--<li th:if="${currentUser == null}">-->
                    <!--<a href="/signup">Registrieren</a></li>-->
                <!--<li><a href="#about">Über uns</a></li>-->
                <!--<li><a href="#contact">Kontakt</a></li>-->
                <!--<li class="dropdown">-->
                    <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#">mehr<span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="#">Merchandise</a></li>-->
                        <!--<li><a href="#">Extras</a></li>-->
                        <!--<li><a href="https://www.stern.de/neon/unnuetzes-wissen/">Neon.de</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->

<!--Begrüßung des Nutzers-->
<!--<div id="hallo" class="hello">-->
    <!--<p>Hallo <span th:block th:each="post: ${posts}"><th:text="${user.username}"></span>!</p>-->
<!--</div>-->

<!--Bilderkarussel-->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="img/kaffeeklein2.jpg" alt="" width="600" height="350">
            <div class="carousel-caption">
                <h3>Kalter Kaffee</h3>
                <p>Kalter Kaffee macht schön</p>
            </div>
        </div>

        <div class="item">
            <img src="img/stiefelklein.jpg" alt="" width="600" height="350">
            <div class="carousel-caption">
                <h3>Nokia</h3>
                <p>Gummistiefel und Handys</p>
            </div>
        </div>

        <div class="item">
            <img src="img/puzzle.jpg" alt="" width="600" height="350">
            <div class="carousel-caption">
                <h3>Jigsaw Puzzle</h3>
                <p>Die Idee aus dem Erdkundeunterricht</p>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!-- Blogger -->
<div id="blogger" class="container text-center"></div>
    <h3>DIE BLOGGER</h3>
    <p><em>We love USELESS KNOWLEDGE!</em></p>
    <p>Wenn Kühe zu viele Karotten essen, wird die Milch rosa.
        Die Firma Nokia hat früher Gummistiefel hergestellt.
        Paul Breitner ist mit Papst Benedikt XVI. verwandt.
        Im Königreich Bhutan steht die Steigerung des Bruttonationalglücks als Staatsziel in der Verfassung.
        Jeden Monat liefert NEON seinen Lesern eine Seite voller amüsanter und verblüffender Fakten.
        Die Rubrik "Unnützes Wissen" hat inzwischen Kultcharakter und eine riesige Fangemeinde.
        Mindestens so nützlich wie "Schotts Sammelsurium", aber viel lustiger.
        Wir wollten mit diesem Blog ein paar sehr lustige Fakten zusammen tragen.
    </p>
    <br>
    <div id="about" class="bg-1">
    <div class="row">
        <div class="col-sm-4">
            <p class="text-center"><strong>José</strong></p><br>
            <a href="https://www.xing.com/profile/JoseAngel_RangelLopez" data-toggle="collapse">
                <img src="img/jose_bild.JPG" class="img-circle person" alt="" width="200" height="200">
            </a>
            <div data-type="xing/share" data-counter="right" data-lang="de"></div>
            <script>
                ;(function (d, s) {
                    var x = d.createElement(s),
                        s = d.getElementsByTagName(s)[0];
                    x.src = "https://www.xing-share.com/plugins/share.js";
                    s.parentNode.insertBefore(x, s);
                })(document, "script");
            </script>
            <div id="demo" class="collapse">
                <p>xxx</p>
            </div>
        </div>
        <div class="col-sm-4">
            <p class="text-center"><strong>Sandra</strong></p><br>
            <a href="https://www.xing.com/profile/Sandra_Pieper4" data-toggle="collapse">
                <img src="img/sandra_bild.JPG" class="img-circle person" alt="Random Name" width="200" height="200">
            </a>
            <div data-type="xing/share" data-counter="right" data-lang="de"></div>
            <script>
                ;(function (d, s) {
                    var x = d.createElement(s),
                        s = d.getElementsByTagName(s)[0];
                    x.src = "https://www.xing-share.com/plugins/share.js";
                    s.parentNode.insertBefore(x, s);
                })(document, "script");
            </script>
            <div id="demo2" class="collapse">
                <p>xxx</p>
            </div>
        </div>
        <div class="col-sm-4">
            <p class="text-center"><strong>Denise</strong></p><br>
            <a href="https://www.xing.com/profile/Denise_Semmelweis" data-toggle="collapse">
                <img src="img/denise_bild.JPG" class="img-circle person" alt="Random Name" width="200" height="200">
            </a>
            <div data-type="xing/share" data-counter="right" data-lang="de"></div>
            <script>
                ;(function (d, s) {
                    var x = d.createElement(s),
                        s = d.getElementsByTagName(s)[0];
                    x.src = "https://www.xing-share.com/plugins/share.js";
                    s.parentNode.insertBefore(x, s);
                })(document, "script");
            </script>
            <div id="demo3" class="collapse">
                <p>xxx</p>
            </div>
        </div>
    </div>
</div>

<!-- Beiträge als Kurzansicht-->
<div id="beiträge" class="bg-1">
    <div class="container2">
        <div class="row text-center">
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="img/kaffeeklein.jpg" alt="Beitrag 1" width="400" height="300">
                    <p><strong>Kalter Kaffee macht schön</strong></p>
                    <button class="btn" data-toggle="modal" data-target="xx">Siehe mehr</button>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="img/stiefelklein.jpg" alt="Beitrag 2" width="250" height="200">
                    <p><strong>Nokia & Gummistiefel</strong></p>
                    <button class="btn" data-toggle="modal" data-target="xx">Siehe mehr</button>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="img/puzzle.jpg" alt="Beitrag 3" width="500" height="500">
                    <p><strong>Jigsaw Puzzle</strong></p>
                    <button class="btn" data-toggle="modal" data-target="xx">Siehe mehr</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Kontakt -->
<div id="contact" class="container">
    <h3 class="text-center">Kontakt</h3>
    <p class="text-center"><em>Schreib uns</em></p>
    <div class="row">
        <div class="col-md-4">
            <p>Fan? Dann schreib uns</p>
            <p><span class="glyphicon glyphicon-map-marker"></span>München</p>
            <p><span class="glyphicon glyphicon-phone"></span>Phone: +49 89 4711</p>
            <p><span class="glyphicon glyphicon-envelope"></span>Email: 3peanuts@butter.com</p>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                </div>
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                </div>
            </div>
            <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
            <br>
            <div class="row">
                <div class="col-md-12 form-group">
                    <button class="btn pull-right" type="submit">Send</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <h3 class="text-center">Die Macher des Blogs</h3>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">José</a></li>
        <li><a data-toggle="tab" href="#menu1">Sandra</a></li>
        <li><a data-toggle="tab" href="#menu2">Denise</a></li>
    </ul>

<!--Wir als Erdnüsse-->
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <h2>José</h2>
            <img src="img/jose.gif" class="img-responsive" height="400" width="400">
        </div>
        <div id="menu1" class="tab-pane fade">
            <h2>Sandra</h2>
            <img src="img/sandra.gif" class="img-responsive" height="400" width="400">
        </div>
        <div id="menu2" class="tab-pane fade">
            <h2>Denise</h2>
            <img src="img/denise.gif" class="img-responsive" height="400" width="400">
        </div>
    </div>
</div>

<!-- Image of location/map -->
<img src="img/muenchen.jpg" class="img-responsive" style="width:100%">

<!-- Footer -->


<div th:replace="fragments/footer :: madeBy"></div>
    <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a><br><br>
    <p>Blog made by "Die drei Erdnüsse"<a href="https://www.awacademy.de/" data-toggle="tooltip" title="Visit Academy"> Besuche uns doch über https://www.awacademy.de/</a></p>


</body>
</html>