<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: head"></th:block>

    <title>Registrierung</title>

<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
</head>
<body>

<th:block th:replace="fragments/header :: navbar"></th:block>

<div class="background">
    <div class="container">
        <form th:action="@{/signup}" th:object="${signup}" method="post">

            <legend>Registrieren</legend>

            <input class="form-control" type="text" th:field="*{username}" placeholder="Benutzername"><br/>
            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red"></div>

            <input class="form-control" type="password" th:field="*{password1}" placeholder="Passwort"><br/>
            <div th:if="${#fields.hasErrors('password1')}" th:errors="*{password1}"></div>

            <input class="form-control" type="password" th:field="*{password2}" placeholder="Passwort wiederholen"><br/>
            <div th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}" style="color: red"></div>

            <button class="btn btn-info" type="submit">Registrieren</button>
        </form>
    </div>
</div>





    <th:block th:replace="fragments/footer :: madeBy"></th:block>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>